<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="camera_urdf">

    <material name="black">
        <color rgba="0 0 0 0.9" />
    </material>

    <link name="camera_link">
     <visual>
        <origin xyz="${-0.049565} ${-0.014695} ${-0.02246}" rpy="0 0 0" />
        <mass value="1.65393501783165" />
        <geometry>
          <mesh filename="package://slick_description/meshes/gripper_and_camera/Camera.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="black"/>
     </visual>
     <collision>
        <origin xyz="${-0.049565} ${-0.014695} ${-0.02246}" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://slick_description/meshes/gripper_and_camera/Camera.STL" scale="0.001 0.001 0.001"/>
        </geometry>
     </collision>
     <inertial>
     <mass value="1.65393501783165" />
     <inertia ixx="0" ixy="0" ixz="0"
              iyy="0" iyz="0"
              izz="0" />
     </inertial>
    </link>

    <joint name="camera_joint" type="fixed">
      <parent link="link6"/>
      <child link="camera_link"/>
      <origin xyz="0 0.043 0.105" rpy="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
